extends template.pug
block link
	- var path_to_index_css = "D:\\part5\\HTML\\preprochessors\\new_project\\dist\\index.css"

	link(rel="stylesheet", href=path_to_index_css)

block content
	.container
		include menu
		.text_info
			div.cost
			p.first_p Матовая помада – это декоративный косметический продукт для губ, который создает на коже ровное бархатное покрытие насыщенного цвета и повышенной стойкости. В такой помаде обычно содержится больше пигментов и меньше масел в сравнении с обычными средствами, обязательно есть ухаживающие компоненты для защиты нежной кожи от сухости. В основе матовой помады, как и в любой другой, есть масла, воск, красящие пигменты, но пропорции в составе немного другие, что и обеспечивает декоративный эффект без влажного блеска и глянца. Здесь может быть больше воска и диоксида кремния, впитывающего лишнюю влагу и жир. А входящие в состав матовых средств масла испаряются с кожи губ практически сразу.
				.pic
					img(src="https:\\i.pinimg.com/564x/ad/e1/20/ade12039f03ccda77fcc6a90da93c8b6.jpg")
			div.cost
				p.second_p Это косметический продукт, который используется для придания цвета и блеска губам. Губы с блеском кажутся более объемными и эффектными. Средство нравится многим тем, что легко наносится, придает губам блеск, скрывает сухость и может увлажнять тонкую кожу губ.
				.pic
					img(src="https:\\i.pinimg.com/564x/8a/e2/e8/8ae2e86f5139a9de9922c9220beeadd5.jpg")
