h3
  color deeppink
  font-size 30px
  font-family "Times New Roman"
  font-style italic
  font-weight bold
  text-align center
  border-top 2px deeppink solid
  border-bottom 2px deeppink solid

div
  img
    width 100%
    height 100%
    display block
    margin 0 auto

.container
  background-color transparent
  min-width 700px
  min-height 700px
  width 70%
  margin 0 auto
.menu
  font-weight bold
  & > ul
    display flex
    list-style none
    align-items center
    justify-content space-evenly
    padding-top 5px
li
  padding 10px
.central
  width 100%
  height 90%
  margin-top 15px
.row_first
  display flex
  justify-content space-around
  height 50%
  margin-top 5px
  margin-bottom 10px
  .big
    width 60%
  .small
    width 30%
.first, .second
  height 45%
.first
  margin-bottom 15px
.row_second
  display flex
  justify-content space-around
  height 45%
.bottom
  width 100%
  display flex
  justify-content space-around
.p1, .p2, .p3
  color deeppink
  font-weight bold
  width 30%
